# 원칙: 15분 보면 해답을 보자

## 록페스티벌. FESTIVAL
p7. 180321_20:25

In [8]:
n= 6
L= 3
cost= '1 2 3 1 2 3'
cost= list(map(int, cost.split(' ')))

In [9]:
cost

[1, 2, 3, 1, 2, 3]

In [26]:
# for j in range(n-L):
#     s= 0
#     for i,cnt in zip(cost,range(n)):
#         s+= i+j
#         if cnt==L-1:
#             print(s)
#             break
# s

6
9
12

12

In [29]:
# for _ in range(L):
#     for i in range(n-L+1):
#         print(i,end="")
#         for j in range()
#     print()

0123
0123
0123

In [33]:
cost

[1, 2, 3, 1, 2, 3]

In [45]:
s=[0 for _ in range(n-L+1)]
for i in range(n-L+1):
    print(i)
    for j in range(L):
        print('i+j',i+j,'j',j)
        s[i]+= cost[i+j]
    print('s:',s)

min(s)

0
i+j 0 j 0
i+j 1 j 1
i+j 2 j 2
s: [6, 0, 0, 0]
1
i+j 1 j 0
i+j 2 j 1
i+j 3 j 2
s: [6, 6, 0, 0]
2
i+j 2 j 0
i+j 3 j 1
i+j 4 j 2
s: [6, 6, 6, 0]
3
i+j 3 j 0
i+j 4 j 1
i+j 5 j 2
s: [6, 6, 6, 6]

6

In [11]:
def cost_min(n,L,cost):
    cost= list(map(int, cost.split(' ')))
    s=[0 for _ in range(n-L+1)]
    for i in range(n-L+1):
        #print(i)
        for j in range(L):
            #print('i+j',i+j,'j',j)
            s[i]+= cost[i+j]
        #print('s:',s)
    return min(s)/L

In [12]:
n= 6
L= 3
cost= '1 2 3 1 2 3'

cost_min(n,L,cost)

2.0

In [3]:
n= 6; L=2
cost= '1 2 3 1 2 3'

cost_min(n,L,cost)

0.5

In [3]:
n=7; L=5
cost= '4 5 6 1 2 3 2'

cost_min(n,L,cost)

2.0

In [19]:
# n, L= '6 3'
# cost= '1 2 3 1 2 3'
C= int(input())
n, L=input().split(' ')
n= int(n)
L= int(L)
cost= input()

cost_min(n,L,cost)

2
6 3
1 2 3 1 2 3

2.0

#### 인자 하나 더 있음! 테스트 케이스 수 C

In [4]:
C= 1

for _ in range(C):
    cost_min(n,L,cost)

## 문제 2개
1. 문제 이해를 잘 못함. 섭외팀이 L=3 개라고 3일만 빌리지는 X
2. 입력값 처리 방법??

#### for문이 너무 많아진다. array로 해결할 방법?
list엔 뭐 없더라

In [43]:
import numpy as np

In [59]:
a= '1 2 3 1 2 3'
a= np.array(list(map(int,a.split(' '))))
a

array([1, 2, 3, 1, 2, 3])

In [60]:
i= 0
a[i:len(a)].mean()

2.0

In [61]:
n= 6
L= 3
for i in range(n-L+1):
    print(a[i:len(a)])
    print(a[i:len(a)].mean())

[1 2 3 1 2 3]
2.0
[2 3 1 2 3]
2.2
[3 1 2 3]
2.25
[1 2 3]
2.0