In [14]:
print('hello','world')

hello world

week 1

In [15]:
add_numbers= lambda x,y,z=0: x+y+z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

### ?? 이름없는 람다식에 인자전달 하며 넘기는 방법??

In [22]:
lambda x,y,z=0: x+y+z, (1,2)

(<function __main__.<lambda>>, (1, 2))

In [2]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [3]:
def add_numbers(x,y,z=0, flag=False):
    if flag:
        print('Flag is true!')
    return x+y+z

print(add_numbers(1,2,flag=True))

Flag is true!
3

In [4]:
def do_math(a, b, kind='+'):
    if (kind=='+'):
        return a+b
    else:
        return a-b

do_math(1, 2)

3

(dynamic) type

In [5]:
type('This is a String')

str

In [6]:
type(None)

NoneType

In [7]:
type(1.0)

float

In [8]:
type(add_numbers)

function

tuple, list

In [12]:
x = [1, 'a', 2, 'b']
type(x)

list

In [13]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [14]:
for item in x:
    print(item)

1
a
2
b
3.3

In [15]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [16]:
while x:
    print(x.pop())

3.3
b
2
a
1

### Dictionary

In [3]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [4]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [5]:
x.keys()

dict_keys(['Christopher Brooks', 'Bill Gates', 'Kevyn Collins-Thompson'])

In [6]:
x.values()

dict_values(['brooksch@umich.edu', 'billg@microsoft.com', None])

In [11]:
for name in x:
    print(x[name])
    # print(name+' '+x[name]) 은 none type 이 안되서 에러

brooksch@umich.edu
billg@microsoft.com
None

키,값 둘다 받기

In [12]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

format

In [13]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

처음보는 csv.DictReader

In [ ]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

### forfor - list comprehension

In [3]:
def forfor():
    li=[]
    for i in range(10):
        for j in range(10):
            li.append(i*j)
    return li

print(forfor())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [12]:
def sum23(*values, **options):
    s= 0
    for i in values:
        s+=i
    if "neg" in options:
        if options["neg"]:
            s= -s
    return s

In [13]:
value= [i for i in range(101)]
sum23(*value)

5050

In [46]:
def li2(*a):
    print(a)

In [47]:
li22= [[i*j for j in range(10)] for i in range(10)]
li22

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [49]:
li2(*li22)

([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 2, 4, 6, 8, 10, 12, 14, 16, 18], [0, 3, 6, 9, 12, 15, 18, 21, 24, 27], [0, 4, 8, 12, 16, 20, 24, 28, 32, 36], [0, 5, 10, 15, 20, 25, 30, 35, 40, 45], [0, 6, 12, 18, 24, 30, 36, 42, 48, 54], [0, 7, 14, 21, 28, 35, 42, 49, 56, 63], [0, 8, 16, 24, 32, 40, 48, 56, 64, 72], [0, 9, 18, 27, 36, 45, 54, 63, 72, 81])